#zoom {
  padding: 1em;
  height: 20%;
  background-color: #7de3be;
  overflow: hidden;
  font-size: 20px;
}

.large-button {
  font-size: 15px;
  padding: 5px 10px;
}

.footer {
  font-size: 10px;

}